:root{
    --light-blue: #0066CC;
    --dark-blue:#04487F;
    --hover-blue: #003058;
    --yellow: #FFD52F;
    --white: #FFFFFF;
}


.input-width{
    width: 50%;
}

.input-width-req{
    width: 50%;
}

.form-label
{
    width: 10%;
}
.required .form-label::after
{
    color: red;
    content: "*";
    padding-left: 1%;
}

.bg-light-blue{
    background-color: var(--light-blue);
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}
.bg-yellow{
    background-color: var(--yellow);
}
.bg-white{
    background-color: var(--white);
}
.light-blue{
    color: var(--light-blue);
}
.dark-blue{
    color: var(--dark-blue);
}
.yellow{
    color:var(--yellow);
}
.white{
    color: var(--white);
}


.submit-button{
    background-color: var(--light-blue);
    color: var(--white);   
}
.submit-button:hover{
    background-color: var(--dark-blue);
    
}

.my-navbar {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.nav-pills .nav-link {
    background-color: var(--dark-blue);
    color: var(--white);
}

.nav-pills .nav-link:hover {
    background-color: var(--hover-blue);
}

.nav-pills .nav-link.active {
    background-color: var(--yellow);
    color: rgb(217, 0, 255);
}

.apply-btn {
    background-color: var(--yellow);  
    border: none;
}

.apply-btn:hover {
    background-color: var(--dark-blue); 
    color: var(--white);
}

.badge-primary {
    background-color: var(--dark-blue);
    color: var(--white);            
}
