{% extends 'base.html' %}
{% block content %}

<!-- Code Here-->
<div class="flex-container">
    <div class="flex-child">
        <h2>Admin Dashboard</h2>
        <button class="btn btn-primary">{{render_nav_item('form.CreateJobPage', 'Create Job')}}</button>
    </div>
</div>

<div class="flex-container">
    <div class="flex-child">
        <h3>Jobs</h3>
            <ul id="job-list-group" class="list-group">
                {% for j in jobs %}
                    <li class="list-group-item">
                        <h5>{{ j['course'] }} - <span class="badge badge-primary">{{ j['role_name'] }}</span></h5>
                        <p>{% if j['cert_required'] %}<span class="badge badge-primary">Certification Required</span>{% else %}&nbsp;{% endif %}</p>
                        <!-- Additional job details here, if any -->
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-primary">Open/Close</button>
                    </li>
                {% endfor %}
            </ul>
    </div>
    <div class="flex-child">
        <h3>Applications</h3>
        {% for a in apps %}
        <div class="application-post">
            {{ a['user_id'] }}
            {{ a['course'] }}
            <span class="badge badge-primary"> {{ a['role'] }} </span>
            {{ a['status'] }}
            {{ a['job_id'] }}
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-primary">Open/Close</button>
        </div>
        {% endfor%}
    </div>
</div>

<!-- I added this to see if there were users with the same email before making emails unique true
this doesn't have to stay but please leave for now for debugging purposes -->
<div class="flex-container">
    <div class="flex-child">
    <h3>Users</h3>
    {% for u in users %}
    <div class="application-post">
        {{ u['user_id'] }}
        {{ u['fname'] }} {{ u['lname'] }} <!-- Assuming you want to display the name -->
        {{ u['email'] }}
        <span class="badge badge-primary">{{ u['role'] }}</span>
        <!-- You can add other fields like major, degree, etc., similar to the above line -->
    </div>
    {% endfor %}
    </div>
    <div class="flex-child"></div>
</div>

{% endblock %}