{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% extends 'base.html' %}
{% block content %}

<h2>{{ job.course_name }} - {{ job.course_level }} <span class="badge badge-primary">{{ job.role }}</span></h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token() }}
    {{ render_field(form.user_id, class="input-width") }}
    {{ render_field(form.user_fname, class="input-width") }}
    {{ render_field(form.user_lname, class="input-width") }}
    {{ render_field(form.user_email, class="input-width") }}
    {{ render_field(form.user_major, class="input-width") }}
    {{ render_field(form.user_degree, class="input-width") }}
    {{ render_field(form.user_gpa, class="input-width") }}
    {{ render_field(form.user_hours, class="input-width") }}
    {{ render_field(form.gta_cert, class="input-width") }}
    {{ render_field(form.transcript, class="input-width") }}
    {{ render_field(form.submit, class="submit-button") }}
</form>
{% endblock %}