{% from 'bootstrap5/nav.html' import render_nav_item %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GTA</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block styles %}
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">
        {% endblock %}
    </head>

    <body>
        <!-- Top Navbar-->
        <nav class="navbar navbar-extended-sm my-navbar">
            <div class="navbar navbar-nav mr-auto">
                <ul class="nav nav-pills">
                    <li class="nav-item" style="margin-inline: 5px;">
                    {{ render_nav_item('main.Home', 'Home') }}
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item" style="margin-inline: 5px;">
                        {{ render_nav_item('main.ApplicationsPage', 'My Applications') }}
                        </li>
                        {% if current_user.role == 5%}
                            <li class="nav-item" style="margin-inline: 5px;">
                            {{ render_nav_item('main.AdminPage', 'Administration') }}
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>    
            </div>
            <div class="navbar navbar-nav ml-auto">
                <ul class="nav nav-pills">
                    <!-- If if authentificated login else account-->
                    {% if current_user.is_authenticated %}
                        <li class="nav-item" style="margin-inline: 5px;">
                            {{ render_nav_item('form.ProfilePage', current_user.user_fname ~ ' ' ~ current_user.user_lname) }}
                        </li>
                        <li class="nav-item" style="margin-inline: 5px;"> <!-- Add margin here -->
                            {{ render_nav_item('main.Logout', 'Logout')}}
                        </li>
                    {% else %}
                        <li class="nav-item" style="margin-inline: 5px;">
                        {{ render_nav_item('form.LoginPage', 'Login') }}
                        </li>
                        <li class="nav-item" style="margin-inline: 5px;"> <!-- Add margin here -->
                            {{ render_nav_item('form.RegisterPage', 'Register') }}
                        </li>
                    {% endif %}
                </ul>
            </div>
            
        </nav>

            <!-- Flashed Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-2">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    
    <!--Bootstrap margins and padding-->
    <main class="m-4 p-4">
        {% block content %}
        {% endblock %}
    </main>
    
    {{bootstrap.load_js() }}

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

    </body>
</html>
