{% extends 'base.html' %}
{% block content %}

<!-- Code Here-->
<form action="/search" method="get" class="search-form">
    <input type="text" name="query" placeholder="Search for jobs..." required>
    <button type="submit">Search</button>
</form>

<h2>Job Listings</h2>
<ul class="list-group">
    {% for j in jobs %}
        <li class="list-group-item">
            <h5>{{ j[0] }} - {{j[3]}} <span class="badge badge-primary">{{ j[2] }}</span></h5>  <!-- Assuming j[0] is the job title and j[2] is the role name -->
            <p>{% if j[1] == 1 %}*Requires Certification{% else %}&nbsp;{% endif %}</p>
            <a href="{{ url_for('form.Apply', job_id=loop.index|string) }}" class="btn apply-btn">Apply</a>
        </li>
    {% endfor %}
</ul>


{% endblock %}