{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% extends 'base.html' %}
{% block content %}
    <h1>Your Profile</h1>
    
    <h3>Current Settings</h3>

<ul>
    <li><strong>User ID:</strong> {{ current_user.user_id }}</li>
    <li><strong>First Name:</strong> {{ current_user.user_fname }}</li>
    <li><strong>Last Name:</strong> {{ current_user.user_lname }}</li>
    <li><strong>Email:</strong> {{ current_user.user_email }}</li>
    <!-- role major and degree need to be fetched from the other table (currently integer is showing)-->
    <li><strong>Role ID:</strong> {{ current_user.role }}</li>
    <li><strong>Major ID:</strong> {{ current_user.major }}</li>
    <li><strong>Degree ID:</strong> {{ current_user.degree }}</li>
    <li><strong>GPA:</strong> {{ current_user.gpa }}</li>
    <li><strong>Hours:</strong> {{ current_user.hours }}</li>
    <!-- For security reasons, it's not a good idea to display the password, even if it's hashed -->
    <li><strong>Password:</strong> {{ current_user.user_pass }}</li> 
</ul>

    <form action="/update-profile" method="post" class="my-4">

        <div class="flex-child user-data">
            <h3>Change profile settings</h3>
                {{ form.csrf_token() }}
                {{ render_field(form.user_fname, class="input-width") }}
                {{ render_field(form.user_lname, class="input-width") }}
                {{ render_field(form.user_email, class="input-width") }}
                {{ render_field(form.user_major, class="input-width") }}
                {{ render_field(form.user_degree, class="input-width") }}
                {{ render_field(form.user_gpa, class="input-width") }}
                {{ render_field(form.user_hours, class="input-width") }}
                {{ render_field(form.user_pass, class="input-width") }}
                {{ render_field(form.user_confirm_pass, class="input-width") }}
                {{ render_field(form.ucourses) }}
                {{ render_field(form.submit, class="submit-button") }}
        </div>

    </form>
{% endblock %}
