{% extends 'base.html' %}
{% block content %}
    <!-- Code Here-->
    <h2>Your Profile</h2>
    
    <div id="starfield"></div>

    <h2>Profile settings</h2>

    <form action="/update-profile" method="post" class="my-4">
        <!-- Username -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ current_user.username }}" readonly>
        </div>
        
        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ current_user.email }}">
        </div>

        <!-- Add other settings as required -->

        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>
{% endblock %}
