{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% extends 'base.html' %}
{% block content %}

<!-- Code Here-->
<h2>Create Account</h2>
<form method="POST" action="/register">
    <!-- {{ render_form(form) }} -->

    <!-- https://bootstrap-flask.readthedocs.io/en/stable/macros/ -->
    {{ form.csrf_token() }}
    {{ render_field(form.user_id, class="input-width") }}
    {{ render_field(form.user_fname, class="input-width") }}
    {{ render_field(form.user_lname, class="input-width") }}
    {{ render_field(form.user_email, class="input-width") }}
    {{ render_field(form.user_role, class="input-width") }}
    {{ render_field(form.user_major, class="input-width") }}
    {{ render_field(form.user_degree, class="input-width") }}
    {{ render_field(form.user_gpa, class="input-width") }}
    {{ render_field(form.user_hours, class="input-width") }}
    {{ render_field(form.user_pass, class="input-width") }}
    {{ render_field(form.user_confirm_pass, class="input-width") }}
    {{ render_field(form.submit, class="submit-button") }}
{% endblock %}