{% from 'bootstrap5/nav.html' import render_nav_item %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GTA</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {{ bootstrap.load_css() }}
    </head>

    <body>
        <!-- Top Navbar-->
        <nav class="navbar navbar-extended-sm">
            <div class="navbar navbar-nav mr-auto">
                <ul class="nav nav-pills">
                    {{ render_nav_item('Home', 'Home') }}
                    {{ render_nav_item('JobsPage', 'Jobs') }}
                    {{ render_nav_item('ApplicationsPage', 'My Applications') }}
                    {{ render_nav_item('AdminPage', 'Administration') }}
                </ul>    
            </div>
            <div class="navbar navbar-nav ml-auto">
                <ul class="nav nav-pills">
                    <!-- If if authentificated login else account-->
                    {{ render_nav_item('LoginPage', 'Login') }}
                    {{ render_nav_item('RegisterPage', 'Register') }}
                    {{ render_nav_item('AccountPage','My Account')}}
                </ul>
            </div>
        </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {{bootstrap.load_js() }}
    </body>
</html>
